/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

.slider {
    width: 1024px;
    height: 640px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

/*---------------------------------------------------------------
                 index.html 
----------------------------------------------------------------*/
.navbar-inner {
        width: 100%;
}

.mainmenu-footer {
        position: absolute;
        bottom: -150;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}
/*----------------------------------------------------------------
                 Popular.html
------------------------------------------------------------------*/
.dvd-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 96%;
        text-align: left;
}

.dvd-readme-box .dvd-poster,
.dvd-readme-box .dvd-poster img {
        width: 240px;
        height: 400px;
}

.dvd-readme-box .dvd-poster .thumbnail {
        position: relative;
        overflow: hidden;
}

.dvd-readme-box .dvd-poster .thumbnail .caption {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(66,139,202,0.75);
        width: 100%;
        height: 100%;
        padding: 2%;
        display: none;
        text-align: center;
        color: #fff !important;
        z-index: 2;
        opacity: 0.7;
}

    

.dvd-readme-box .dvd-metadata h4 {
        font-style: medium;
}

.dvd-readme-box .dvd-footer h5 {
        font-style: small;
}
/*------------------------------------------------------------------------
                    Language.html
-------------------------------------------------------------------------*/
.lang-footer {
        position: absolute;
        bottom: -1550;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.lang-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 55%;
        text-align: left;
}

.lang-readme-box .lang-poster,
.lang-readme-box .lang-poster img {
        bottom: 0.5em;
        width: 240px;
        height: 400px;
}
/*------------------------------------------------------------------------
                    RatePlan.html
-------------------------------------------------------------------------*/
.rateplan-footer {
        position: absolute;
        bottom: -250;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.rateplan-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 55%;
        text-align: left;
}

.rateplan-readme-box .rateplan-poster,
.rateplan-readme-box .rateplan-poster img {
        width: 295px;
        height: 144px;
}

.rateplan-readme-box .rateplan-metadata h4 {
        font-style: medium;
}

textarea.terms {
        left: 150px;
        top: 50px;
        position: relative;
        width:1000px;
        height:200px;
        border:1px solid #ccc;
        background:#f2f2f2;
        font:normal 11px/15px arial;
        padding:20px;
        color:#333;
}

.signup {
        top: 50px;
        position: relative;
        font-style: medium;
        text-align: center;
}

/*------------------------------------------------------------------------
                    Registration.html
-------------------------------------------------------------------------*/

.reg-footer {
        position: absolute;
        bottom: -220;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.reg-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 100%;
        height: 75%;
        text-align: left;
}

.reg-readme-box .reg-field-placer {
        padding-left: 20px;
        padding-top:  50px;
}

.reg-readme-box .reg-field-placer img {
        padding-left: 350px;
        padding-top:  50px;
}

.reg-readme-box .reg-field-placer p {
        padding-left: 650px;
        padding-top:  2px;
}
    
.reg-login-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 100%;
        height: 36%;
        text-align: left;
}

.reg-login-box .reg-login-field-placer {
        padding-left: 20px;
        padding-top:  50px;
}

/*----------------------------------------------------------------------
                    Devices.html
------------------------------------------------------------------------*/

.device-footer {
        position: absolute;
        bottom: -450;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.device-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 50%;
        text-align: left;
}

.device-readme-box .device-poster,
.device-readme-box .device-poster img {
        vertical-align: center
        bottom: 0.5em;
        padding-top: 50px;
}


/*-------------------------------------------------------------------------
                    Login.html
--------------------------------------------------------------------------*/

.login-footer {
        position: absolute;
        bottom: -10;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.login-readme-box {
        margin-left: 300px;
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 40%;
        height: 75%;
        text-align: left;
}

.login-readme-box .login-field-placer
{
        padding-left: 20px;
        padding-top:  250px;
}

/*-------------------------------------------------------------------------
                    AdminDBoard.html
--------------------------------------------------------------------------*/

.admin-footer {
        position: absolute;
        bottom: -200;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.admin-box-one {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 44%;
        text-align: left;
}

.admin-box-bill {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 30%;
        text-align: left;
}

.admin-box-media {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 38%;
        text-align: left;
}

.media-field-placer {
        padding-left: 20px;
        padding-top:  20px;
}

.admin-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 40%;
        text-align: left;
    }

    

.admin-box .dvd-poster,
.admin-box .dvd-poster img {
        width: 240px;
        height: 400px;
}

.admin-box .dvd-metadata h4 {
        font-style: medium;
}

.admin-box .dvd-footer h5 {
        font-style: small;
}

.paginator,
.paginator ul {
        list-style-type: none;
}

    /*.pdsa-submit-progress 
       {
           position: fixed;
           top: 50%;
           left: 50%;
           z-index: 1;
           height: 6em;
           width: 20em;
           margin-left: -10em;
           padding-top: 2.5em;
           padding-left: 2.1em;
           background-color: Black;
           color: White;
           border-radius: 0.4em;
           -moz-border-radius: 0.4em;
           -webkit-border-radius: 0.4em;
           box-shadow: 0.4em 0.4em rgba(0,0,0, 0.6);
           -moz-box-shadow: 0.4em 0.4em rgba(0,0,0 0.6);
           -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0 0.6);
       }  */

.pdsa-submit-progress-bg {
            background-color: lightgray;
            opacity: .5;
}

.pdsa-submit-progress {
              padding-top: 2em;
              width: 23em;
              margin-left: -11.5em;
}
        
.pdsa-submit-progress i {
                margin-right: 0.5em;
}


/*-------------------------------------------------------------------------
                    AdminDevices.html
--------------------------------------------------------------------------*/

.admin-dev-footer {
        position: absolute;
        bottom: -60;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.admin-dev-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 100%;
        height: 50%;
        text-align: left;
}

.admin-dev-box .device-poster,
.admin-dev-box .device-poster img {
        vertical-align: center
        bottom: 0.5em;
        padding-top: 50px;
}

.addplan-field-placer {
        font-style: large;
        padding-left: 20px;
        padding-top:  20px;
}


/*-------------------------------------------------------------------------
                    AdminRatePlan.html
--------------------------------------------------------------------------*/

 .admin-rateplan-footer {
        position: absolute;
        bottom: -150;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.admin-rateplan-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 50%;
        text-align: left;
}

    .admin-rateplan-readme-box .rateplan-poster,
    .admin-rateplan-readme-box .rateplan-poster img {
        width: 295px;
        height: 144px;
    }

    .admin-rateplan-readme-box .removeplan-poster,
    .admin-rateplan-readme-box .removeplan-poster img {
        width: 100px;
        height: 70px;
    }

    .admin-rateplan-readme-box .rateplan-metadata h4 {
        font-style: medium;
    }

    .admin-addplan-readme-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 38%;
        text-align: left;
    }
    
     .admin-addplan-field-placer {
        padding-left: 20px;
        padding-top:  20px;
    }



/*-------------------------------------------------------------------------
                    Player.html
--------------------------------------------------------------------------*/
.player-footer {
        position: absolute;
        bottom: -350;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.player-box-one {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 84%;
        height: 54%;
        text-align: left;
}

.player-box-one p,
.player-box-one p .wrapper {
        width: 11em; 
        border: 1px solid #000000;
        word-wrap: break-word;
}

.player-box-bill {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 22%;
        text-align: left;
}

.player-box-media {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 38%;
        text-align: left;
}


.player-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 90%;
        height: 50%;
        text-align: left;
}

.player-box-synopsis {
        position: relative;
        
        width: 80%;
        height: 50%;
        text-align: left;
} 

.player-box-synopsis li {
        text-align: left;
}

.player-box .dvd-metadata h4 {
        font-style: medium;
}

.player-box .dvd-footer h5 {
        font-style: small;
}

    
.unselectable {
                -moz-user-select: -moz-none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -o-user-select: none;
                user-select: none;
}


/* VIDEODISPLAY */
#videoDisplay {
    background-color: black;
}


/* CONTROLBAR */
#playerToolBar {
    position: relative;
    background-color: #464545;
}
#playerToolBar a {
    font-size: 1.2em;
    color: #b8b8bb;
}
#playerToolBar .btn {
    border-radius:0px;
    width: 20px;
    height:20px;
}
#playerToolBar .icon-white {
    top: -1px;
    left:-5px;
}
#playerToolBar .btn:focus {
    border: none;
    box-shadow: 0;
    outline: 0 none;
}
#videoTime {
    position: relative;
    top:3px;
    left:12px;
    font-size: 1.1em;
    color: #c0c0c0;
}


/* OVERLAYS */
#bigPlayButton {
    background-color: rgba(0, 0, 0, 0.78);
    width:100px;
    height:100px;
    position:absolute;
    font-size: 3.2em;
    cursor: pointer;
    text-align: center;
}
#videoTitle {
    position: absolute;
    top:0px;
    left:0px;
    font-size: 1.3em;
    color: whitesmoke;
    width:100%;
    margin:5px;
    margin-left:10px;
    text-shadow: 1px 1px #333333;
}

/*-------------------------------------------------------------------------
                    Search.html
--------------------------------------------------------------------------*/

.search-footer {
        position: absolute;
        bottom: -2250;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.search-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 55%;
        text-align: left;
}

.search-box .lang-poster,
.search-box .lang-poster img {
        bottom: 0.5em;
        width: 240px;
        height: 400px;
}


/*-------------------------------------------------------------------------
                    UserDBoard.html
--------------------------------------------------------------------------*/

.user-db-footer {
        position: absolute;
        bottom: -200;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.user-db-box-one {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 44%;
        text-align: left;
        overflow: auto;
}

.user-db-box-one p,
.user-db-box-one p .wrapper {
        width: 11em; 
        border: 1px solid #000000;
        word-wrap: break-word;
}

.user-db-box-bill {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 34%;
        text-align: left;
}

.user-db-box-media {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 97%;
        height: 38%;
        text-align: left;
}

.media-field-placer {
        padding-left: 20px;
        padding-top:  20px;
}

.user-db-box {
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 90%;
        height: 35%;
        text-align: left;
}

.user-db-box .dvd-poster,
.user-db-box .dvd-poster img {
        width: 150px;
        height: 100px;
}

.user-db-box .dvd-metadata h4 {
        font-style: medium;
}

.user-db-box .dvd-footer h5 {
        font-style: small;
}


/*-------------------------------------------------------------------------
                    Contact.html
--------------------------------------------------------------------------*/

.contact-footer {
        position: absolute;
        bottom: -10;
        width: 100%;
        height: 40px;
        background-color: #000000;
        text-align: center;
}

.contact-box {
        margin-left: 150px;
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 75%;
        text-align: left;
}

.contact-box .contact-field-placer
{
        font-style: large;
        padding-left: 20px;
        padding-top:  250px;
}

