<html>
<head>
    <meta charset="utf-8">
    <title>Dash Board</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
</head>
     <body lang="en" ng-app="videoApp">
     <div ng-controller="AdminDBController">
        <!-- Header section BEGIN---------- of the Landing Page -->
        <div class="container">
    	<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                	<a href="#"  data-toggle="dropdown" class="dropdown-toggle">Movies <span class="caret"></span></a>
               		 <ul class="dropdown-menu">
                		<li><a href="Popular.html">Popular</a></li>
                		<li><a href="Languages.html">Language</a></li>
					</ul>
                </li>
                <li><a href="AdminRatePlan.html">Rate&nbspPlan</a></li>
                <li><a href="AdminDevices.html">Devices</a></li>
            </ul>
            	<ul class="nav pull-right">
               		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='http://localhost:8000/Login.html'">Login</button></li>
                	<li><form class="navbar-form navbar-left" role="Search">
                		<div class="form-group">
                			<input type="text" ng-model="search" placeholder="Movie Name" ng-change="callSearch()">
                			<button type="submit" class="btn btn-default" onclick="location.href='http://localhost:8000/Search.html'">Search</button>
                		</div>
                		</form>                	
                 	</li>
            	</ul>
        	</div>
   		 </div>
	</div>
        <!-- Header section END--------- of the Landing Page -->

    <!-- ** BEGIN POP-UP MESSAGE AREA ** -->
      <div class="pdsa-submit-progress hidden">
       <i class="fa fa-2x fa-spinner fa-spin"></i> 
        <label>Please wait ...</label>
      </div>
      <!-- ** END POP-UP MESSAGE AREA ** -->



    <div class="container-fluid">
        
        
        <div class="row">    
            <div class="span10">
            <h1> Subscribers </h1>
                <div class="admin-box-one">
                <table class="table tablebordered table-striped table-hover">
                    <thead>
                        <tr>
                        <td>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sort = 'name'">Name</a> 
                        
                            <span ng-show="sort == 'name'" class="caret"></span>
                        </td>
                        <td>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sort = 'userID'">User ID</a>
                        
                            <span ng-show="sort == 'userID'" class="caret"></span> 
                        </td>
                        <td>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sort = 'role'">Role</a>
                        
                            <span ng-show="sort == 'role'" class="caret"></span> 
                        </td>
                        <td>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sort = 'rateplan'">Rate Plan</a>    
                        
                            <span ng-show="sort == 'rateplan'" class="caret"></span> 
                        </td>
                        <td>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sort = 'authorize'">Authorize</a> 
                        
                            <span ng-show="sort == 'authorize'" class="caret"></span> 
                        </td>
                        <td>Billing</td>
                        </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="subscriber in usubset | orderBy:sort:reverse">
                         <td>{{subscriber.name}}</td>
                         <td>{{subscriber.userID}}</td>
                         <td>{{subscriber.role}}</td>
                         <td>{{subscriber.rateplan}}</td>
                         <td>
                         <label for="uactive">&nbsp&nbsp<input id="uactive" type="radio" ng-model="subscriber.authorize" value="active" ng-click="getstatus('active',$index)">&nbsp&nbspactive </label>
                         <label for="dactive">&nbsp&nbsp<input id="dactive" type="radio" ng-model="subscriber.authorize" value="deactive" ng-click="getstatus('deactive',$index)">&nbsp&nbspdeactive</label></td>
                         <td><label>&nbsp&nbsp<input type="checkbox" ng-model="show[$index]" ng-change="stateChanged(show[$index], $index)">&nbsp&nbspView</label></td>
                         </tr>
                    </tbody>
                </table>
                <ul class="paginator">
                    <li> &nbsp&nbsp<a href="#" ng-click="upageprev()">&#171</a>&nbsp&nbsp<a href="#" ng-click="upagenext()">&#187</a></li>
                    <li> &nbsp&nbsp<button type="button" class="btn btn-default pull-right" ng-click="authorize()">Commit</button></li>
                </ul>
                </div>
            </div>      
            
            <div class="span8">
            <h1> Media Manager </h1>
                <div class="admin-box">
                <table  class="table tablebordered table-striped table-hover">
                            <thread>
                            <tr>
                                <td>
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sortType = 'id'">Media ID</a>    
                                  
                                    <span ng-show="sortType == 'id'" class="caret"></span>
                                 </td>
                                <td> 
                                     <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sortType = 'name'">Name</a> 
                                      
                                    <span ng-show="sortType == 'name'" class="caret"></span>
                                </td>
                                <td> 
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sortType = 'language'">Language</a>
                                     
                                    <span ng-show="sortType == 'language'" class="caret"></span>
                                </td>
                                <td> 
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sortType = 'rights'">Rights</a>
                                     
                                    <span ng-show="sortType == 'rights'" class="caret"></span>
                                </td>
                                <td>
                                 <a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="sortType = 'rating'">Rating</a>   
                                  
                                    <span ng-show="sortType == 'rating'" class="caret"></span>
                                 </td>
                            </tr>
                            </thread>
                            <tbody>
                            <tr ng-repeat="media in subset | orderBy:sortType:sortReverse">
                                <td title="'MediaID'" >
                                    {{media.id}}</td>
                                <td title="'Name'" >
                                    {{media.name}}</td>
                                <td title="'Language'" >
                                    {{media.language}}</td>
                                <td title="'Rights'" >
                                    {{media.rights}}</td>
                                <td title="'Rating'" >
                                    {{media.rating}}</td>
                            </tr>
                            </tbody>
                </table>
                <ul class="paginator">
                    <li> &nbsp&nbsp<a href="#" ng-click="pageprev()">&#171</a>&nbsp&nbsp<a href="#" ng-click="pagenext()">&#187</a></li>
                </ul>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="span8">
                <h1>Billing History</h1>
                    <label> Start Month &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp End Month </label>
                    <select class="form-control" ng-model="startmonth" ng-options="period.month for period in months" ng-change="Begin()">
                        <option value="">Choose Start</option>
                        <!--<option>Feb 2015</option>
                        <option>Mar 2015</option> -->
                    </select>
                    <select class="form-control" ng-model="endmonth" ng-options="period.month for period in months" ng-change="End()">
                        <option value="">Choose End</option>
                        <!-- <option>Feb 2015</option>
                        <option>Mar 2015</option> -->
                    </select>
                    <div class="admin-box-bill">
                    <table  class="table tablebordered table-striped table-hover">
                        <thead>
                            <tr>
                                <td>BillingID</td>
                                <td>UserID</td>
                                <td>Month</td>
                                <td>Payment</td>
                                <td>Reminder</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bill in bills">
                                <td>{{bill.billing}}</td>
                                <td>{{bill.userID}}</td>
                                <td>{{bill.month | date}}</td>
                                <td><a href="#" >{{bill.payment}}</a></td>
                                <td>
                                <label for="reminder">&nbsp&nbsp<input id="reminder" type="radio" ng-model="bill.reminder" value="enable">&nbsp&nbspset </label>
                         <label for="dreminder">&nbsp&nbsp<input id="dreminder" type="radio" ng-model="bill.reminder" value="disable">&nbsp&nbspdisable</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default pull-right" ng-click="viewBill()">View Bill</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="reminder()">REMINDER</button>
                    </div>
                </div>
                <div class="span10">
                    <h1>Upload Media</h1>
                    <div class="admin-box-media">
                    <form name="contentDataForm">
                    <fieldset class="media-field-placer">
                        <label for="MovieName">Movie Name:&nbsp&nbsp&nbsp&nbsp
                        <input focus id="movieName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Moviename" ng-model="content.moviename" /></label>
                        <label for="Language">Language:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input focus id="language" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Language" ng-model="content.language" /></label>
                        <label for="Poster">Poster :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="file" data-file="content.poster" >
                        <!-- <input  focus id="Poster"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Poster" ng-model="content.poster" /> --></label>
                        <label for="Actor">Actors :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="file" data-file="content.actor" >
                        <!-- <input  focus id="Actor"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Actor" ng-model="content.actor" /> --></label>
                        <label for="Director">Director :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="file" data-file="content.director" >
                        <!-- <input  focus id="Director"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Director" ng-model="content.director" /> --></label>
                        <label for="Synopsis">Synopsis :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="file" data-file="content.synopsis" >
                        <!-- <input  focus id="Synopsis"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Synopsis" ng-model="content.synopsis" /> --></label>
                        <label for="Media">Media :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="file" data-file="content.media" >
                        <!-- <input id="Media" type="password" placeholder="Media" ng-model="content.media" /> --></label>


                        <label for="free">Rights  :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="free" type="radio" ng-model="content.right" value="free" ng-click="setrights(content.right)">&nbsp&nbspfree 
                         &nbsp&nbsp<input id="member" type="radio" ng-model="content.right" value="member" ng-click="setrights(content.right)">&nbsp&nbspmember</label>

                        <button type="submit" id="submitButton" class="btn btn-primary pull-right" ng-click="upload(content, contentDataForm)">UPLOAD</button>
                    </fieldset>
                    </form>        
                    </div>
                </div>
            </div>
        
    </div>

        <!-- Footer section BEGIN -------- of the Landing Page --> 
            

	<footer class="admin-footer">
		<div class="container">
			<button type="button" class="btn btn-default pull-right" onclick="location.href='http://localhost:8000/Contact.html'">Contact</button>
			<p class="text-muted">Copyright reserved to Movies Video Streaming 2015 </p>
		</div>
	</footer>
    </div>
        <!-- Footer section END -------- of the Landing Page -->

     
<!--<script src="/lib/angular/angular.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript"  src="/js/services/DateRangeData.js" ></script>
<script type="text/javascript"  src="/js/services/SubscribersData.js"></script>
<script type="text/javascript"  src="/js/services/MoviesData.js"></script>
<script type="text/javascript"  src="/js/services/BillingData.js"></script>
<script type="text/javascript"  src="/js/controllers/AdminDBController.js"></script>
<script>
function DisplayProgressMessage(ctl, msg) {
          $(ctl).prop('disabled', true).text(msg);

          setTimeout(function () {
              $(".pdsa-submit-progress").removeClass("hidden");
          }, 50);

              $("body").addClass("pdsa-submit-progress-bg");
         

          return true;
      }
</script>
</body>
</html>