<html>
<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <style>

    .navbar-inner {
    	width: 100%;
    }

    .footer {
    	position: absolute;
    	bottom: -10;
    	width: 100%;
    	height: 40px;
    	background-color: #000000;
    	text-align: center;
    }

    .login-readme-box {
        margin-left: 150px;
        position: relative;
        border-style: solid;
        border-width: 0.2em;
        border-color: #428bca;
        width: 80%;
        height: 75%;
        text-align: left;
    }

    .login-readme-box .login-field-placer
    {
        font-style: large;
        padding-left: 20px;
        padding-top:  250px;
    }


    </style>
</head>
     <body lang="en" ng-app="videoApp">
        <!-- Header section BEGIN---------- of the Landing Page -->
        <div class="container">
    	<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                	<a href="#"  data-toggle="dropdown" class="dropdown-toggle">Movies <span class="caret"></span></a>
               		 <ul class="dropdown-menu">
                		<li><a href="Popular.html">Popular</a></li>
                		<li><a href="Languages.html">Language</a></li>
					</ul>
                </li>
                <li><a href="RatePlan.html">Rate&nbspPlan</a></li>
                <li><a href="Devices.html">Devices</a></li>
            </ul>
            	<ul class="nav pull-right">
               		<li><button type="button" class="btn btn-default navbar-btn">Login</button></li>
                	<li><form class="navbar-form navbar-left" role="Search">
                		<div class="form-group">
                			<input type="text" class="form-control" placeholder="Movie Name">
                			<button type="submit" class="btn btn-default">Search</button>
                		</div>
                		</form>                	
                 	</li>
            	</ul>
        	</div>
   		 </div>
	</div>
        <!-- Header section END--------- of the Landing Page -->

    <div class="container">
    <form name="profileForm">
        <div ng-controller="ContactController">
        <div class="row">
            <div class="span12">  
                <div class="login-readme-box">
                <fieldset class="login-field-placer">
                        <h3>From (Enter Name) :&nbsp&nbsp&nbsp&nbsp
                        <input focus id="deviceName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Name" ng-model="content.deviceName" /></h3>
                        <h3>Title of Message :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input focus id="picture" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Title" ng-model="content.picture" /></h3>
                        <h3>Subject  :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <textarea focus id="Message...." required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" cols="40" rows="5"placeholder="URL" ng-model="content.url" /></textarea></h3>
                        <button type="submit" class="btn btn-default">SEND</button>
                </fieldset>
                </div> 
            </div>
            </div>
        </div>
    </div>
    </form>
    </div>

        <!-- Footer section BEGIN -------- of the Landing Page --> 
            

	<footer class="footer">
		<div class="container">
			<button type="button" class="btn btn-default pull-right">Contact</button>
			<p class="text-muted">Copyright reserved to Movies Video Streaming 2015 </p>
		</div>
	</footer>

        <!-- Footer section END -------- of the Landing Page -->

     
<!--<script src="/lib/angular/angular.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript"  src="/js/controllers/ContactController.js"></script>
</body>
</html>