<html>
<head>
    <meta charset="utf-8">
    <title>Language</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
     <body lang="en" ng-app="videoApp">
        <!-- Header section BEGIN---------- of the Landing Page -->
        <div ng-controller="LanguageController">
        <div class="container">
    	<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                	<a href="#"  data-toggle="dropdown" class="dropdown-toggle">Movies <span class="caret"></span></a>
               		 <ul class="dropdown-menu">
                		<li><a href="Popular.html">Popular</a></li>
                		<li><a href="Languages.html">Language</a></li>
					</ul>
                </li>
                <li><a href="RatePlan.html">Rate&nbspPlan</a></li>
                <li><a href="Devices.html">Devices</a></li>
            </ul>
            	<ul class="nav pull-right">
               		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='http://localhost:8000/Login.html'">Login</button></li>
                	<li><form class="navbar-form navbar-left" role="Search">
                		<div class="form-group">
                			<input type="text" ng-model="search" placeholder="Movie Name" ng-change="callSearch()">
                			<button type="submit" class="btn btn-default"  onclick="location.href='http://localhost:8000/Search.html'">Search</button>
                		</div>
                		</form>                	
                 	</li>
            	</ul>
        	</div>
   		 </div>
	</div>
        <!-- Header section END--------- of the Landing Page -->

    <div class="container-fluid">
        
        <div class="row">
            <div class="span4" ng-repeat="language in category.languages">
            <h1> {{language.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="span4" ng-repeat="language in category.languages">  
                <div class="lang-readme-box" ng-repeat="poster in language.posters">
                    <div class="lang-poster">
                         <img ng-src="{{poster.movie}}" alt="poster" />
                    </div>  
                </div> 
            </div>
        </div>
    </div>
    

        <!-- Footer section BEGIN -------- of the Landing Page --> 
            

	<footer class="lang-footer">
		<div class="container">
			<button type="button" class="btn btn-default pull-right" onclick="location.href='http://localhost:8000/Contact.html'">Contact</button>
			<p class="text-muted">Copyright reserved to Movies Video Streaming 2015 </p>
		</div>
	</footer>
    </div>
        <!-- Footer section END -------- of the Landing Page -->

     
<!-- <script src="/lib/angular/angular.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript"  src="/js/services/LanguageData.js"></script>
<script type="text/javascript"  src="/js/controllers/LanguageController.js"></script>
</body>
</html>