<html>
<head>
    <meta charset="utf-8">
    <title>Video Player</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
     <body lang="en" ng-app="videoApp">
        <!-- Header section BEGIN---------- of the Landing Page -->
    <div ng-controller="PlayerController">
        <div class="container">
    	<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="RatePlan.html">Rate&nbspPlan</a></li>
                <li><a href="Devices.html">Player</a></li>
            </ul>
            	<ul class="nav pull-right">
               		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='http://localhost:8000/Login.html'">Login</button></li>
                	<li><form class="navbar-form navbar-left" role="Search">
                		<div class="form-group">
                			<input type="text" ng-model="search" placeholder="Movie Name" ng-change="callSearch()">
                			<button type="submit" class="btn btn-default"  onclick="location.href='http://localhost:8000/Search.html'">Search</button>
                		</div>
                		</form>                	
                 	</li>
            	</ul>
        	</div>
   		 </div>
	</div>
        <!-- Header section END--------- of the Landing Page -->

    <!-- ** BEGIN POP-UP MESSAGE AREA ** -->
      <div class="pdsa-submit-progress hidden">
       <i class="fa fa-2x fa-spinner fa-spin"></i> 
        <label>Please wait ...</label>
      </div>
      <!-- ** END POP-UP MESSAGE AREA ** -->



    <div class="container-fluid">
        
        <div class="row">
            <div class="span10">   
                <div class="player-box-one">


                <div id="fullPlayer" class="unselectable ng-cloak">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="VideoElement" ng-click="togglePlay()" width="100%" height="100%" src="{{videoSource}}"></video>
                        <!-- <div id="bigPlayButton" class="well"><span class="icon-play icon-white"></span></div> -->
                        <div id="videoTitle" ng-hide="videoPlaying">{{titleDisplay}}</div>
                    </div>
                    <div id="playerToolBar">
                        <a id="playBtn" ng-click="togglePlay()" class="btn btn-default"><span class="icon-play icon-white"></span></a>
                        <a id="muteBtn" ng-click="toggleMute()" class="btn btn-default"><span class="icon-volume-up icon-white"></span></a>
                        <span id="videoTime">{{currentTime | time }} / {{totalTime | time }} </span>
                    </div>
                </div>

                


                
                </div>
            </div>
            <div class="span5">
              <div class="player-box-bill">
                <table class="table tablebordered table-striped table-hover">
                    <thead>
                        <tr>
                        <td>Play List Name</td>
                        <td>Duration</td>
                        <td>Pick</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in playlist.lists">
                        <td>{{item.name}}</td>
                        <td>{{item.duration}}min</td>
                        <td><label>&nbsp&nbsp<input type="checkbox" ng-model="picked[$index]" ng-change="changePlaylist(picked[$index],$index,'{{item.name}}')">&nbsp&nbspChoose</label></td>
                        </tr>
                    </tbody>
                </table>
                <div class="player-box-synopsis">
                        <ul class="nav nav-list">
                            <li ><i class="icon-film icon-white"></i>{{currentname}}</li>
                            <li ><i class="icon-star icon-white"></i>{{actors}}</li>
                            <li ><i class="icon-pencil icon-white"></i>{{synopsis}}</li>
                        </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <h1>&nbsp&nbsp</h1>
                <div class="player-box">
                <table class="table tablebordered table-striped table-hover">
                <tr>
                <td ng-repeat="poster in subset">
                                    <img src="{{poster.movie}}" alt="poster" width="240px" height="350px">
                </td>
                </tr>
                </table>
                </div>
                <ul class="paginator">
                        <li> &nbsp&nbsp<a href="#" ng-click="pageprev()">&#171</a>&nbsp&nbsp<a href="#" ng-click="pagenext()">&#187</a></li>
                    </ul> 
                               
        </div>
    </div>


        <!-- Footer section BEGIN -------- of the Landing Page --> 
            

	<footer class="player-footer">
		<div class="container">
			<button type="button" class="btn btn-default pull-right" onclick="location.href='http://localhost:8000/Contact.html'">Contact</button>
			<p class="text-muted">Copyright reserved to Movies Video Streaming 2015 </p>
		</div>
	</footer>
</div>
        <!-- Footer section END -------- of the Landing Page -->

     
<!--<script src="/lib/angular/angular.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript"  src="/js/services/PlayListData.js"></script>
<script type="text/javascript"  src="/js/services/SearchData.js"></script>
<script type="text/javascript"  src="/js/services/PopularData.js"></script>
<script type="text/javascript"  src="/js/controllers/PlayerController.js"></script>
</body>
</html>