<html>
<head>
    <meta charset="utf-8">
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
     <body lang="en" ng-app="videoApp">
        <!-- Header section BEGIN---------- of the Landing Page -->
    <div ng-controller="RegistrationController">
        <div class="container">
    	<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                	<a href="#"  data-toggle="dropdown" class="dropdown-toggle">Movies <span class="caret"></span></a>
               		 <ul class="dropdown-menu">
                		<li><a href="Popular.html">Popular</a></li>
                		<li><a href="Languages.html">Language</a></li>
					</ul>
                </li>
                <li><a href="RatePlan.html">Rate&nbspPlan</a></li>
                <li><a href="Devices.html">Devices</a></li>
            </ul>
            	<ul class="nav pull-right">
               		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='http://localhost:8000/Login.html'">Login</button></li>
                	<li><form class="navbar-form navbar-left" role="Search">
                		<div class="form-group">
                			<input type="text" ng-model="search" placeholder="Movie Name" ng-change="callSearch()">
                			<button type="submit" class="btn btn-default" onclick="location.href='http://localhost:8000/Search.html'">Search</button>
                		</div>
                		</form>                	
                 	</li>
            	</ul>
        	</div>
   		 </div>
	</div>
        <!-- Header section END--------- of the Landing Page -->

    <div class="container">
    <form name="profileForm">
        
        <form name="userDataForm">
        <div class="row">
            <div class="span12">  
                <div class="reg-readme-box">
                <h1> Subscriber Details </h1>
                <fieldset class="reg-field-placer">
                    <label for="firstName">First Name:&nbsp&nbsp&nbsp&nbsp
                    <input focus id="firstName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Firstname" ng-model="user.firstName" /> <img src="/assets/img/photo.gif" alt="Profile Photo">
                    <p><input type="file" data-file="user.file" ></p> </label>
                    <label for="lastName">Last Name:&nbsp&nbsp&nbsp&nbsp
                    <input focus id="lastName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Lastname" ng-model="user.lastName" /></label>
                    <label for="address1">Address 1:&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input  focus id="address1"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Address1" ng-model="user.address1" /></label>
                    <label for="address2">Address 2:&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input  focus id="address2"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Address2" ng-model="user.address2" /></label>
                    <label for="city">city :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input  focus id="city"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="city" ng-model="user.city" /></label>
                    <label for="pin">pin :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input  focus id="pin"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="pin" ng-model="user.pin" /></label>
                    <label for="mobile">Mobile :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input id="mobile" type="text" placeholder="Number" ng-model="user.mobile" /></label>
                    <label for="email">Email :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input id="email" type="email" placeholder="Email Address" ng-model="user.email" /></label>
                </fieldset>
                </div> 
            </div>
        </div>
        <div class="row">
                <div class="span6">
                    <div class="reg-login-box">
                        <h1> Login Details </h1>
                        <fieldset class="reg-login-field-placer">
                            <label for="UserID">User ID:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input focus id="userID" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="UserID/Email" ng-model="user.userID" /></label>
                            <label for="password">Password:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input id="password" required type="password" placeholder="Password" ng-model="user.password" /></label>
                            <label for="repassword">Re-Password:
                            <input id="repassword" required type="password" placeholder="Re-password" ng-model="user.repassword" /></label>
                        </fieldset>
                    </div>    
                </div>
                <div class="span6">
                    <div class="reg-login-box">
                        <h1> Rate Plan </h1>
                        <div ng-repeat="package in rateplan.packages">
                            <label>&nbsp&nbsp<input type="checkbox" ng-model="show[$index]"  ng-change="stateChanged(show[$index], '{{package.plan}}')">&nbsp&nbsp{{package.plan}}</label>
                        </div>
                        
                        <h3> Languages </h3>
                        <label>&nbsp&nbsp<input type="checkbox" ng-model="show[4]" ng-change="stateChanged(show[4],'{{rateplan.packages[0].languages[0].name}}')">&nbsp&nbsp{{rateplan.packages[0].languages[0].name}}
                               &nbsp&nbsp<input type="checkbox" ng-model="show[5]" ng-change="stateChanged(show[5], '{{rateplan.packages[0].languages[1].name}}')">&nbsp&nbsp{{rateplan.packages[0].languages[1].name}}
                               &nbsp&nbsp<input type="checkbox" ng-model="show[6]" ng-change="stateChanged(show[6], '{{rateplan.packages[0].languages[2].name}}')">&nbsp&nbsp{{rateplan.packages[0].languages[2].name}}
                               &nbsp&nbsp<input type="checkbox" ng-model="show[7]" ng-change="stateChanged(show[7], '{{rateplan.packages[0].languages[3].name}}')">&nbsp&nbsp{{rateplan.packages[0].languages[3].name}}
                               &nbsp&nbsp<input type="checkbox" ng-model="show[8]" ng-change="stateChanged(show[8], '{{rateplan.packages[3].languages[0].name}}')">&nbsp&nbsp{{rateplan.packages[3].languages[0].name}}
                               </label>{{languages}}
                               {{choosen}}
                        <button type="button" class="btn btn-default pull-right" ng-click="saveUser(user, userDataForm)">Register</button>

                    </div>
                </div>
            </div>
        </form>
    </form>
    </div>

        <!-- Footer section BEGIN -------- of the Landing Page --> 
            

	<footer class="reg-footer">
		<div class="container">
			<button type="button" class="btn btn-default pull-right" onclick="location.href='http://localhost:8000/Contact.html'">Contact</button>
			<p class="text-muted">Copyright reserved to Movies Video Streaming 2015 </p>
		</div>
	</footer>
    </div>
        <!-- Footer section END -------- of the Landing Page -->

     
<!--<script src="/lib/angular/angular.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript"  src="/js/services/RatePlanData.js"></script>
<script type="text/javascript"  src="/js/controllers/RegistrationController.js"></script>
</body>
</html>