<html>
<head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
     <body lang="en" ng-app="videoApp">
        <!-- Header section BEGIN---------- of the Landing Page -->
        <div class="container" ng-controller="SearchController">
    	<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                	<a href="#"  data-toggle="dropdown" class="dropdown-toggle">Movies <span class="caret"></span></a>
               		 <ul class="dropdown-menu">
                		<li><a href="Popular.html">Popular</a></li>
                		<li><a href="Languages.html">Language</a></li>
					</ul>
                </li>
                <li><a href="RatePlan.html">Rate&nbspPlan</a></li>
                <li><a href="Devices.html">Devices</a></li>
            </ul>
            	<ul class="nav pull-right">
               		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='http://localhost:8000/Login.html'">Login</button></li>
                	<li><form class="navbar-form navbar-left" role="Search">
                		<div class="form-group">
                			<input type="search" ng-model="search" placeholder="Movie Name">
                			<button type="submit" class="btn btn-default" onclick="location.href='http://localhost:8000/Search.html'">Search</button>
                		</div>
                		</form>                	
                 	</li>
            	</ul>
        	</div>
   		 </div>
	
        <!-- Header section END--------- of the Landing Page -->

    
        
            <div class="row">
                <div class="span4" ng-repeat="poster in posters | filter:search">
                    <!-- <ul> 
                        <li ng-repeat="poster in posters | filter:search">
                            <img src="{{ poster.movie }}" alt="{{poster.name}}"/>
                        </li>
                    </ul> -->
                    <div class="search-box">
                        <div class="lang-poster">
                            <img src="{{ poster.movie }}" alt="{{poster.name}}"/>
                        </div>
                    </div>
                </div>    
                
            </div>
        
    </div>

        <!-- Footer section BEGIN -------- of the Landing Page --> 
            

	<footer class="search-footer">
		<div class="container">
			<button type="button" class="btn btn-default pull-right" onclick="location.href='http://localhost:8000/Contact.html'">Contact</button>
			<p class="text-muted">Copyright reserved to Movies Video Streaming 2015 </p>
		</div>
	</footer>

        <!-- Footer section END -------- of the Landing Page -->

     
<!-- <script src="/lib/angular/angular.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript"  src="/js/services/SearchData.js"></script>
<script type="text/javascript"  src="/js/controllers/SearchController.js"></script>
</body>
</html>